.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: orange;
}

.title {
    font-size: 80px;
    color: white
}

.description {
    font-size: 30px;
}