/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Beaufort';
    src: url('../src/app/fonts/BeaufortforLOL-Regular.woff') format('truetype');
}

body {
    margin: 0px;
    font-family: 'Beaufort';
}